.fable/
*.fs.js
*.fs.js.map
.fake/
.farmer/
.idea/
.ionide/
.vs/
deploy/
obj/
bin/
output/
packages/
paket-files/
node_modules/
infrastructure/k8s/overlays/production/patch-image.yaml
infrastructure/k8s/base/secrets.template.yaml
infrastructure/scripts/mongo/seed/*
infrastructure/k8s/kubeconfig/*.yaml
infrastructure/terraform/.terraform*
infrastructure/terraform/terraform.tfstate*
infrastructure/terraform/*.tfvars
infrastructure/docker/App/Development/mongo-data/
infrastructure/docker/App/Development/.env
infrastructure/docker/App/Staging/mongo-data/
infrastructure/docker/App/Staging/.env
infrastructure/docker/App/Production/.env
infrastructure/.env
release.cmd
release.sh
*.orig
*.fsproj.user
*.DotSettings.user
src/Client/.pnpm-store/