version: '3.8'

services:
  mongodb:
    image: mongo:latest
    environment:
      MONGO_CONNECTION_STRING: ${MONGO_CONNECTION_STRING}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      # - ./mongo-data:/data/db
      - ../../../scripts/mongo:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1g
