version: '3.8'

services:
  mongodb:
    image: mongo:latest
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_INITDB_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_INITDB_ROOT_PASSWORD}
    ports:
      - "27017:27017"
    volumes:
      # - ./mongo-data:/data/db
      - ./scripts/mongo:/docker-entrypoint-initdb.d
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1g

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.9.3
    environment:
      discovery.type: single-node
    ports:
      - "9200:9200"
    deploy:
      resources:
        limits:
          cpus: "1.5"
          memory: 2g
