@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Space+Grotesk:wght@400;500;700&display=swap');
@plugin "daisyui" {
    themes: all;
}
@tailwind base;
@tailwind components;
@tailwind utilities;